@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

body {
  font-family: 'Roboto Mono';
}

html {
  scroll-behavior: smooth;
}

#home {
  position: relative;
  width: 100%;
  height: 100vh;
  top: 15%;
}
/* #about,
#projects  */

.dark-mode {
  background-color: #4e4e4c;
  filter: invert(1) heu-rotate(180deg);
}

.page-border {
  border: 30px solid #f26b38;
  width: 100%;
  height: 100vh;
}

.left-line {
  border-left: 30px solid #f26b38;
  height: 100vh;
  position: fixed;
  left: 0;
  z-index: 1000;
}

.right-line {
  border-right: 30px solid #f26b38;
  height: 100vh;
  position: fixed;
  right: 0;
  z-index: 1000;
}

.top-line {
  border-top: 30px solid #f26b38;
  width: 100vw;
  top: 0;
  z-index: 1000;
  position: fixed;
}

.bottom-line {
  border-bottom: 30px solid #f26b38;
  width: 100vw;
  bottom: 0;
  z-index: 1000;
  position: fixed;
}

.main-container {
  overflow: hidden;
  position: relative;
  width: 75%;
  height: 100%;
  margin: 0 auto;
  max-width: 1060px;
  border: 2px solid magenta;
}

.child-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.text-center {
  text-align: center !important;
  font-size: 2rem;
  width: 100%;
}

#header {
  background-color: rgb(255, 255, 255);
  position: fixed;
  height: 80px;
  width: 100%;
  top: 3%;
  right: 0;
  z-index: 100;
}

#nav-bar {
  margin-top: 20px;
}

#nav-bar li {
  display: inline;
  float: right;
  margin-right: 3%;
  list-style-type: none;
}

.nav-link a {
  float: left;
  display: block;
  padding: 8px;
  color: black;
  text-decoration: none !important;
}

li > a:hover {
  color: #f26b38;
}

.about-desc {
  align-self: center;
}

.container {
  padding-top: 2.5%;
  height: 100vh;
  text-align: center;
}

.desc-container {
  padding-top: 2.5%;
  height: 100vh;
  text-align: left;
  margin-inline-start: 30rem;
  margin-inline-end: 30rem;
}

.about-title {
  font-family: 'Roboto Mono';
  font-size: 1rem;
  text-align: right;
  text-underline-position: below;
  padding-left: 18%;
  width: 100%;
  width: max-content;
}

.my-pic {
  /* height: 19vmin; */
  border-radius: 50%;
  float: left;
  margin-left: 18%;
  width: 100px;
  height: 100px;
  /* margin-right: 5%; */
}

.content {
  width: fit-content;
  /* display: inline; */
  /* margin-left: 2%; */
  padding-left: 2%;
  margin-inline-start: 30rem;
  margin-inline-end: 30rem;
}

.about-me {
  font-family: 'Roboto Mono';
  font-size: small;
}

.links {
  padding-top: 3%;
}

.links > a {
  background-color: #f26b38;
  border: none;
  color: white;
  padding: 8px;
  text-align: center;
  text-decoration: none;
  border: 2px solid #fff;
}

.links > a:hover {
  background-color: white;
  color: #f26b38;
  border: 1px solid #f26b38;
}

.new-sec {
  width: 100%;
  position: relative;
  /* display: block; */
}

.clear-float {
  clear: both;
}

.float-right {
  float: right;
  width: fit-content;
}

.float-left {
  float: left;
  width: fit-content;
}

.card-title {
  width: fit-content;
}
.fit {
  margin-left: 30px;
  width: 40%;
  height: fit-content;
}
.card-desc {
  width: 45%;
}

.aboutMe-container {
  position: relative;
  top: 5%;
  height: min-content;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-template-rows: 70px repeat(2, minmax(0, 1fr)) 70px;
  width: 100%;
}

.about-title-1 {
  grid-row: 1/2;
  grid-column: 1/-2;
  align-self: center;
  margin-left: 2%;
}

.img {
  grid-row: 2 / -1;
  grid-column: 1/3;
  justify-content: center;
}

.my-pic-1 {
  margin-left: 5%;
  border-radius: 50%;
  width: 80%;
  height: 70%;
}
.content-1 {
  grid-row: 2/4;
  grid-column: 3/-1;
  justify-content: center;
  align-content: center;
  line-height: 35px;
}

.button-1 {
  grid-row: 4/-1;
  grid-column: 3/-2;
  align-self: center;
}

.button-1 > a {
  background-color: #f26b38;
  border: none;
  color: white;
  padding: 8px;
  text-align: center;
  text-decoration: none;
  border: 2px solid #fff;
}

.button-1 > a:hover {
  /* margin: 10%; */
  /* align-items: center; */
  background-color: white;
  color: #f26b38;
  border: 1px solid #f26b38;
  /* padding-top: 10%; */
}

.exp-and-edu {
  position: relative;
  top: 5%;
}

.col-2-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  /* position: absolute; */
}

.small-box {
  display: inline;
  border: 1px solid #f26b38;
  color: #f26b38;
  font-family: 'Roboto Mono';
  font-size: small;
}
.education {
  padding-left: 15%;
  font-family: 'Roboto Mono';
  font-weight: bolder;
}

.experience {
  padding-left: 15%;
  font-family: 'Roboto Mono';
  font-weight: bolder;
  border-left: 1px solid #f26b38;
  /* height: 69%; */
}

.experience > h3,
.education > h3,
.about-title-1 > h3,
.projects > h3,
.awards > h3 {
  display: inline;
  font-size: 13px;
  font-family: 'Roboto Mono';
  box-shadow: inset 0 -6px 0px #ede574;
}

.card-title-1 {
  margin-top: 15px;
  margin-bottom: 15px;
  color: #141414;
}

.card-desc-1 {
  margin-bottom: 15%;
  font-size: 13px;
}

.cards-container {
  margin-left: 20%;
}

.cards-grid {
  display: grid;
  grid-gap: 100px;
  grid-template-columns: repeat(2, 500px);
  height: 250px;
}

.gh-card {
  padding: 10%;
  border: 3px dashed #f26b38;
}

.so-card {
  padding: 5%;
  border: 3px dashed #f26b38;
}

.projects {
  position: relative;
  /* margin-top: 15%; */
  /* margin-left: 10%; */
  font-family: 'Roboto Mono';
  /* font-size: ; */
}

.projects-container {
  display: grid;
  /* height: 100vh; */
  grid-gap: 5%;
  margin-top: 5%;
  /* width: 75%; */
  grid-template-columns: repeat(2, 550px);
  grid-template-rows: repeat(2, 350px);
  position: absolute;
  top: 100%;
  bottom: 0;
}

/* [class*='project-'] {
  width: 350px;
} */

.project-1 {
  grid-row: 1/2;
  grid-column: 1/2;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 50px 170px 80px;
  border-top: 5px solid #f26b38;
  border-left: 1px solid #dfdfdf;
  border-right: 1px solid #dfdfdf;
  border-bottom: 1px solid #dfdfdf;
  padding: 20px;
}

.project-2 {
  grid-row: 1/2;
  grid-column: 2/3;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 50px 170px 80px;
  border-top: 5px solid #f26b38;
  border-left: 1px solid #dfdfdf;
  border-right: 1px solid #dfdfdf;
  border-bottom: 1px solid #dfdfdf;
  padding: 20px;
}

.project-3 {
  grid-row: 2/3;
  grid-column: 1/2;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 50px 170px 80px;
  border-top: 5px solid #f26b38;
  border-left: 1px solid #dfdfdf;
  border-right: 1px solid #dfdfdf;
  border-bottom: 1px solid #dfdfdf;
  padding: 20px;
}

.project-4 {
  grid-row: 2/3;
  grid-column: 2/3;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 50px 170px 80px;
  border-top: 5px solid #f26b38;
  border-left: 1px solid #dfdfdf;
  border-right: 1px solid #dfdfdf;
  border-bottom: 1px solid #dfdfdf;
  padding: 20px;
}

.tech-icons {
  width: 27px;
  height: 27px;
  margin: 2%;
  /* padding: 2%; */
}

.tech-title {
  font-size: 13px;
  color: #757575;
  font-weight: bolder;
}

.inc-width {
  width: 55px;
}

.project-title-1 {
  grid-row: 1/2;
}

.tech-stack-1 {
  grid-row: 2/3;
}

.project-desc-1 {
  grid-row: 3/4;
  grid-column: 1/3;
  text-align: justify;
}

.project-img-1 {
  grid-row: 1/3;
  grid-column: 2/3;
  width: 230px;
  padding-top: 1%;
  margin-left: 8%;
}

.project-img-2 {
  grid-row: 1/3;
  grid-column: 2/3;
  margin-left: 10%;
  width: 150px;
  margin-left: 35%;
  /* height: 100px; */
}

.project-img-4 {
  grid-row: 1/3;
  grid-column: 2/3;
  margin-left: 40%;
  width: 150px;
}

.awards {
  display: relative;
  margin-left: 2%;
}

.awards-container {
  display: grid;
  height: 100vh;
  grid-gap: 2%;
  margin-top: 5%;
  font-family: 'Roboto Mono';
  grid-template-columns: repeat(2, 500px);
  grid-template-rows: repeat(3, 350px);
}

.award-1 {
  display: grid;
  grid-template-columns: 200px 300px;

  border-top: 5px solid #f26b38;
  border-left: 1px solid #dfdfdf;
  border-right: 1px solid #dfdfdf;
  border-bottom: 1px solid #dfdfdf;
}

.award-2 {
  display: grid;
  grid-template-columns: 200px 300px;
  border-top: 5px solid #f26b38;
  border-left: 1px solid #dfdfdf;
  border-right: 1px solid #dfdfdf;
  border-bottom: 1px solid #dfdfdf;
}
.award-3 {
  display: grid;
  grid-template-columns: 200px 300px;
  border-top: 5px solid #f26b38;
  border-left: 1px solid #dfdfdf;
  border-right: 1px solid #dfdfdf;
  border-bottom: 1px solid #dfdfdf;
}
.award-4 {
  display: grid;
  grid-template-columns: 200px 300px;
  border-top: 5px solid #f26b38;
  border-left: 1px solid #dfdfdf;
  border-right: 1px solid #dfdfdf;
  border-bottom: 1px solid #dfdfdf;
}
.award-5 {
  display: grid;
  grid-template-columns: 200px 300px;
  border-top: 5px solid #f26b38;
  border-left: 1px solid #dfdfdf;
  border-right: 1px solid #dfdfdf;
  border-bottom: 1px solid #dfdfdf;
}
.award-6 {
  display: grid;
  grid-template-columns: 200px 300px;
  border-top: 5px solid #f26b38;
  border-left: 1px solid #dfdfdf;
  border-right: 1px solid #dfdfdf;
  border-bottom: 1px solid #dfdfdf;
}

.award-left-side {
  grid-column: 1/2;
  padding: 10%;
  font-size: 15px;
}

.award-right-side {
  grid-column: 2/3;
}

figure {
  position: relative;
  display: inline-block;
}

.show-img-1 {
  display: none;
  position: absolute;
  width: 300px;
  height: 344px;
  padding: 10%;
  left: 0;
  bottom: 0;
  right: 0;
}

figure:hover img {
  opacity: 1;
}

figure:hover .show-img-1 {
  display: block;
}

.award-img-1 {
  padding: 10%;
  width: 300px;
  height: 344px;
}

.award-img-2 {
  margin-left: 10%;
  padding: 10%;
  width: 300px;
  height: 280px;
}

.award-img-3 {
  margin-top: 20%;
  width: 295px;
  height: 150px;
}

.award-img-4 {
  margin-top: 12%;
  width: 290px;
  height: 250px;
}

.award-img-5 {
  margin: 6%;
}

.award-title {
  text-transform: uppercase;
  font-size: 18px;
  color: #757575;
  font-weight: bolder;
}

.award-program {
  margin-top: 10%;
}

.award-org {
  margin-top: 10%;
}

.award-link > div {
  margin-top: 10%;
}

.tech-stack-container {
  display: relative;
  width: 100vw;
  height: 100px;
}

/* ====== */
.glitch {
  text-transform: uppercase;
  width: max-content;
  letter-spacing: 2px;
  position: relative;
  color: black;
  font-family: 'Roboto Mono';
  font-weight: bold;
  font-size: 4rem;
  animation: glitch-skew 1s infinite linear alternate-reverse;
}
.glitch::before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  left: 2px;
  text-shadow: -2px 0 #ff00c1;
  clip: rect(44px, 450px, 56px, 0);
  animation: glitch-anim 5s infinite linear alternate-reverse;
}
.glitch::after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  left: -2px;
  text-shadow: -2px 0 #00fff9, 2px 2px #ff00c1;
  animation: glitch-anim2 1s infinite linear alternate-reverse;
}

@keyframes glitch-anim {
  0% {
    clip: rect(7px, 9999px, 59px, 0);
    transform: skew(0.48deg);
  }
  5% {
    clip: rect(11px, 9999px, 40px, 0);
    transform: skew(0.45deg);
  }
  10% {
    clip: rect(86px, 9999px, 100px, 0);
    transform: skew(0.8deg);
  }
  15% {
    clip: rect(96px, 9999px, 75px, 0);
    transform: skew(0.82deg);
  }
  20% {
    clip: rect(44px, 9999px, 12px, 0);
    transform: skew(0.32deg);
  }
  25% {
    clip: rect(44px, 9999px, 87px, 0);
    transform: skew(0.43deg);
  }
  30% {
    clip: rect(63px, 9999px, 17px, 0);
    transform: skew(0.8deg);
  }
  35% {
    clip: rect(77px, 9999px, 48px, 0);
    transform: skew(0.11deg);
  }
  40% {
    clip: rect(32px, 9999px, 95px, 0);
    transform: skew(0.51deg);
  }
  45% {
    clip: rect(11px, 9999px, 77px, 0);
    transform: skew(0.84deg);
  }
  50% {
    clip: rect(80px, 9999px, 21px, 0);
    transform: skew(0.32deg);
  }
  55% {
    clip: rect(84px, 9999px, 94px, 0);
    transform: skew(0.13deg);
  }
  60% {
    clip: rect(11px, 9999px, 30px, 0);
    transform: skew(0.71deg);
  }
  65% {
    clip: rect(17px, 9999px, 3px, 0);
    transform: skew(0.87deg);
  }
  70% {
    clip: rect(17px, 9999px, 63px, 0);
    transform: skew(0.94deg);
  }
  75% {
    clip: rect(57px, 9999px, 68px, 0);
    transform: skew(0.47deg);
  }
  80% {
    clip: rect(95px, 9999px, 56px, 0);
    transform: skew(0.56deg);
  }
  85% {
    clip: rect(94px, 9999px, 7px, 0);
    transform: skew(0.25deg);
  }
  90% {
    clip: rect(57px, 9999px, 66px, 0);
    transform: skew(0.79deg);
  }
  95% {
    clip: rect(83px, 9999px, 50px, 0);
    transform: skew(0.49deg);
  }
  100% {
    clip: rect(56px, 9999px, 54px, 0);
    transform: skew(0.88deg);
  }
}
@keyframes glitch-anim2 {
  0% {
    clip: rect(66px, 9999px, 9px, 0);
    transform: skew(0.61deg);
  }
  5% {
    clip: rect(1px, 9999px, 33px, 0);
    transform: skew(0.86deg);
  }
  10% {
    clip: rect(58px, 9999px, 24px, 0);
    transform: skew(0.08deg);
  }
  15% {
    clip: rect(74px, 9999px, 44px, 0);
    transform: skew(0.41deg);
  }
  20% {
    clip: rect(93px, 9999px, 71px, 0);
    transform: skew(0.9deg);
  }
  25% {
    clip: rect(61px, 9999px, 57px, 0);
    transform: skew(0.31deg);
  }
  30% {
    clip: rect(41px, 9999px, 42px, 0);
    transform: skew(0.06deg);
  }
  35% {
    clip: rect(39px, 9999px, 46px, 0);
    transform: skew(0.17deg);
  }
  40% {
    clip: rect(1px, 9999px, 45px, 0);
    transform: skew(0.25deg);
  }
  45% {
    clip: rect(14px, 9999px, 82px, 0);
    transform: skew(0.25deg);
  }
  50% {
    clip: rect(28px, 9999px, 23px, 0);
    transform: skew(0.58deg);
  }
  55% {
    clip: rect(74px, 9999px, 19px, 0);
    transform: skew(0.6deg);
  }
  60% {
    clip: rect(88px, 9999px, 77px, 0);
    transform: skew(0.46deg);
  }
  65% {
    clip: rect(97px, 9999px, 1px, 0);
    transform: skew(0.99deg);
  }
  70% {
    clip: rect(51px, 9999px, 70px, 0);
    transform: skew(0.02deg);
  }
  75% {
    clip: rect(54px, 9999px, 44px, 0);
    transform: skew(0.67deg);
  }
  80% {
    clip: rect(53px, 9999px, 79px, 0);
    transform: skew(0.68deg);
  }
  85% {
    clip: rect(49px, 9999px, 4px, 0);
    transform: skew(0.21deg);
  }
  90% {
    clip: rect(7px, 9999px, 24px, 0);
    transform: skew(0.06deg);
  }
  95% {
    clip: rect(5px, 9999px, 1px, 0);
    transform: skew(0.2deg);
  }
  100% {
    clip: rect(34px, 9999px, 92px, 0);
    transform: skew(0.84deg);
  }
}
@keyframes glitch-skew {
  0% {
    transform: skew(-1deg);
  }
  10% {
    transform: skew(3deg);
  }
  20% {
    transform: skew(-2deg);
  }
  30% {
    transform: skew(1deg);
  }
  40% {
    transform: skew(4deg);
  }
  50% {
    transform: skew(-2deg);
  }
  60% {
    transform: skew(4deg);
  }
  70% {
    transform: skew(3deg);
  }
  80% {
    transform: skew(0deg);
  }
  90% {
    transform: skew(3deg);
  }
  100% {
    transform: skew(1deg);
  }
}
